* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 80px auto; 
    max-width: 640px;
    width: 100%;
    align-items: center;
}

form {
    margin-top: 20px;
}

input, button {
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    width: 50%;
    align-items: center;
}

button {
    cursor: pointer;
    border: none;
    background-color: rgb(96, 160, 233);
    text-transform: uppercase;
    color: #fff;
}

button:hover {
    background-color: rgb(56, 111, 173);
}

h1{
    font-size: 24px;
    text-transform: uppercase;
}

.success-message{
    background-color: #27ae60;
    padding: 16px;
    color: #fff;
    display: none;
    width: 50%;

}

.error-message {
    padding: 16px;
    background-color: red;
    color: #fff;
    display: none;
    width: 50%;
}
